.playlist {
  width: 100%;
  margin: 20px 0px;
}

.playlist .title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}

.playlist .list {
  width: 100%;
  list-style: none;
  text-align: left;
  max-height: 500px;
  overflow: auto;
  padding-right: 10px;
}

.playlist .list .listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.playlist .list .listItem .listItemText {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.playlist .list .listItem .time {
  background-color: var(--dark);
  padding: 4px 8px;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  font-weight: 500;
}

.playlist .list .listItem .copy {
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
}

.playlist .list .listItem::first-letter {
  text-transform: uppercase;
}
