#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#header h1 {
  margin: 8px 0px;
}

#header p {
  max-width: 500px;
  line-height: 1.5;
  font-size: 0.8rem;
  font-style: italic;
}
