.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 900px;
  background-color: var(--dark);
  color: var(--white-text);
  padding: 40px 20px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#header h1,
.section h1 {
  margin: 10px 0px;
}

#header p,
.section p {
  max-width: 450px;
  line-height: 1.5;
  font-size: 18px;
}

.section {
  margin-bottom: 20px;
}

.section p > span {
  display: inline-block;
  margin: 0px 4px;
}

.section code {
  background-color: var(--light-gray);
  padding: 4px;
  border-radius: 8px;
  margin: 0px 5px;
  font-weight: bold;
}
